.Form{
		width: 80%;
		margin: 0 auto;
		border: 10px solid purple;
		background: #ffffff;
		padding: 20px 10px;
		font-family: 'Permanent Marker', cursive;
}
.FormBlock {
		display: flex;
		width: 80%;
		margin: 0 auto;
		flex-direction: column;
		text-align: left;
		font-size: 20px;
}
.FormBlock input{
		padding: 10px 15px;
}
.FormBlock textarea{
		padding: 10px 15px;
}
.FormBlock label{
		margin: 10px 0;
}
.FormBlock button{
		margin: 30px auto 10px;
		background: purple;
		width: 180px;
		padding: 10px;
		border-radius: 3px;
		font-size: 18px;
		font-family: 'Permanent Marker', cursive;
}
.FormBlock button:hover {
 		cursor: pointer;
		background: palevioletred;
}
.Form h4{
		font-size: 25px;
}