.AboutTitle{
		font-size: 40px;
		font-family: 'Permanent Marker', cursive;
}
.AboutBody{
		font-size: 32px;
		font-family: 'Permanent Marker', cursive;
		color: purple;
}
.AboutPic{
		border: 5px solid purple;
		width: 400px;
		height: 400px;
}
.AboutAuthor{
		font-size: 40px;
		color: purple;
		text-align: right;
		font-family: 'Permanent Marker', cursive;
}