.Delete{
		padding: 10px 20px;
		font-size: 20px;
		border: 5px solid purple;
		border-radius: 10px;
		font-family: 'Permanent Marker', cursive;
		color: purple;
}
.Delete:hover{
		color: palevioletred;
		border-color: palevioletred;
}