.MainNav ul {
		display: flex;
		list-style: none;
}
.MainNav li {
		margin-right: 20px;
		font-size: 18px;
}
.MainNav li:last-child {
		margin-right: 0;
}
.MainNav li a {
		text-transform: uppercase;
		text-decoration: none;
}
.MainNav li a:hover {
		color: #fff;
}