.Header {
		background: rosybrown;
		font-family: 'Permanent Marker', cursive;
		border-bottom: 5px solid purple;
		margin-bottom: 20px;
		font-size: 25px;
}
.Header .Container {
		display: flex;
		justify-content: space-between;
		align-items: center;
}