.PostInfo{
		background: white;
		border: 5px solid purple;
		padding: 20px;
		color: purple;
		font-size: 30px;
		font-family: 'Permanent Marker', cursive;
		text-align: left;
}
.PostInfo .PostInfoTitle{
		color: black;
		font-size: 22px;
		border-top: 2px solid grey;
		width: 50%;
		margin-bottom: 0;
}
.PostInfo .PostInfoDate {
		font-size: 16px;
		color: grey;
		display: inline-block;
}
.PostInfo .PostInfoBody{
		font-size: 18px;
		color: black;
}
.PostInfo a{
		display: inline-block;
		padding: 10px 20px;
		font-size: 20px;
		border: 5px solid purple;
		border-radius: 10px;
		margin-right: 30px;
		color: purple;
		text-decoration: none;
}
.PostInfo a:hover{
		color: palevioletred;
		border-color: palevioletred;
}